@page
@model IndonesiaModel
@{
    ViewData["Title"] = "Welcome to Indonesia";
}
<link href="~/css/Indonesia.css" rel="stylesheet" />
<body>
<h1>@ViewData["Title"]</h1>

<p>Halo, selamat datang di Indonesia</p>

<h2>This are the tourist spots in Malaysia</h2>
<div class="bl">
    <h2>Bali, Indonesia</h2>
        <img src="~/css/0e2d7854-11df-4ca9-8018-211e8ae372e5 (1).jpg" />
        <p>@ViewData["Variable21"]</p>
</div>

<div class="ud">
    <h2>Ubud, Indonesia</h2>
        <img src="~/css/download-_2_.jpg" />
        <p>@ViewData["Variable22"]</p>
</div>

<div class="jk">
    <h2>Jakarta, Indonesia</h2>
        <img src="~/css/B6441E54-1D2C-416B-A9060E669E194710.jpg" />
        <p>@ViewData["Variable23"]</p>
</div>
<div class="bt">
    <h2>Borobudur Temple</h2>
        <img src="~/css/stupa-complex-Borobudur-Java-Indonesia.jpg" />
        <p>@ViewData["Variable24"]</p>
</div>
<div class="sm">
    <h2>Sacred Monkey Forest Sanctuary</h2>
    <img src="~/css/download-_3_.jpg" />
        <p>@ViewData["Variable25"]</p>
</div>


</body>
