@page
@model MalaysiaModel
@{
    ViewData["Title"] = "Welcome to Malaysia";
}
<link href="~/css/Malaysia - Copy.css" rel="stylesheet" />
<body>
<h1>@ViewData["Title"]</h1>

<p>Helo, selamat datang ke Malaysia</p>

<h2>This are the tourist spots in Malaysia</h2>
<div class="pt">
    <h2>Petronas Twin Towers in Kuala Lumpur, Malaysia</h2>
        <img src="~/css/Kuala_Lumpur_-_Malaysia_(50932613857).jpg" />
        <p>@ViewData["Variable16"]</p>
</div>

<div class="bc">
    <h2>Batu Caves</h2>
        <img src="~/css/Batu_Caves_stairs_2022-05.jpg" />
    <p>@ViewData["Variable17"]</p>
</div>

<div class="mn">
    <h2>Menara Kuala Lumpur</h2>
    <img src="~/css/KL Tower Ticket in Kuala Lumpur.jpg" />
        <p>@ViewData["Variable18"]</p>
</div>
<div class="sl">
    <h2>Sunway Lagoon</h2>
        <img src="~/css/SunwayLagoonTicket.jpg" />
        <p>@ViewData["Variable19"]</p>
</div>
<div class="tn">
    <h2>Taman Negara</h2>
        <img src="~/css/download (1).jpg" />
        <p>@ViewData["Variable20"]</p>
</div>


</body>
